<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Passort Authentication</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>

    <body>
        <div>
            <button type="button" onclick="window.location.href='/register'"
                    class="btn btn-primary btn-lg btn-block">Sign Up!
            </button>
            <button type="button" onclick="window.location.href='/login'"
                    class="btn btn-secondary btn-lg btn-block">Login!
            </button>
            <button type="button" onclick="window.location.href='/logout'"
                    class="btn btn-danger btn-lg btn-block">Logout!
            </button>
        </div>
    <!-- _______________________content below__________________________ -->
