<% include ./partials/header %>
<!-- ______^partial header^_________________________________________________-->



<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>This is the secret.ejs</h1>
            <img src="https://intothegalaxy.files.wordpress.com/2009/05/wolfgang-amadeus-phoenix.jpg" alt="word" />
        </div>
    </div>
</div>

<!-- _____________________________partial footer___________________________ -->
<% include ./partials/footer %>
