<% include ./partials/header %>
<!-- ______^partial header^_________________________________________________-->



<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>This is the secret.ejs</h1>
            <img src="https://s-media-cache-ak0.pinimg.com/236x/21/3a/45/213a45f0fec55bfc13034f2864b8ce26.jpg" alt="word" />
        </div>
    </div>
</div>

<!-- _____________________________partial footer___________________________ -->
<% include ./partials/footer %>
